# Python
venv/
.ipynb_checkpoints/
__pycache__/
*.py[cod]
.ruff_cache/
.mypy_cache/
.pytest_cache/
.venv/

# Build
build/
dist/
*.egg-info/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# IDEs
.vscode/
.idea/
.cursor/

# Data
*.json

# Testing
.coverage
htmlcov/
.hypothesis/

# OS related
.DS_Store